/* SERVICES */
.services {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		gap: 30px 30px;

		@include any-screen(1150px) {
			justify-content: space-around;
		}
	}

	&__btn {
		padding: 10px 20px;
		border-radius: 17px;
		font-size: 0.86em;
		line-height: 1.1667;
	}
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 350px;

	@include tablet {
		text-align: center;
		align-items: center;
	}

	@include mobile {
		max-width: 280px;
	}

	&__img {
		margin-bottom: 20px;
		border-radius: 8px;

		width: 350px;
		height: 180px;
		object-fit: cover;

		@include mobile {
			width: 280px;
			height: auto;
		}
	}

	&__title {
		margin-bottom: 8px;

		font-size: 1.29em;
		font-weight: 600;
	}

	&__desc {
		margin-bottom: 16px;

		font-size: 0.86em;
		font-weight: 400;
		line-height: 1.666;
	}
}
