/* WORKS */

.works {
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		margin: 0;
		padding: 0;
	}

	&__arrows {
		align-items: center;
		display: flex;
		flex-directions: row;
		height: 100%;
		gap: 0 16px;

		@include mobile {
			display: none;
		}
	}

	&__arrow {
		cursor: pointer;
		position: relative;
		align-items: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;

		&:hover {
			background-color: #f8f6f7;
		}

		&_left {
			&:hover {
				animation: arrow-left 1s linear infinite;
			}
			& span {
				position: absolute;
				top: 24px;
				left: 17px;
				width: 17px;
				height: 2px;
				background-color: $second-color;
				display: block;

				&::after {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					border-bottom: 2px solid $second-color;
					border-right: 2px solid $second-color;
					top: -4px;
					right: 7px;
					transform: rotate(135deg);
				}
			}
		}

		&_right {
			&:hover {
				animation: arrow-right 1s linear infinite;
			}
			& span {
				position: absolute;
				top: 24px;
				right: 17px;
				width: 17px;
				height: 2px;
				background-color: $second-color;
				display: block;

				&::after {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					border-bottom: 2px solid $second-color;
					border-right: 2px solid $second-color;
					top: -4px;
					right: 0px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	&__items {
		margin-bottom: 22px;
		@include tablet {
			margin-bottom: 5vw;
		}
		@include mobile {
			height: 290px;
		}
	}

	&__item {
		width: 23.5%;
		max-width: 338px;
		height: 338px;

		/* display: inline-block; */
		overflow: hidden;
		border-radius: 8px;
		cursor: pointer;
		transition: 1s;
		z-index: 5;

		@include mobile {
			max-width: 250px;
			height: 250px;
		}

		&:hover {
			transform: scale(1.1);

			& .works__content {
				opacity: 1;
			}
		}
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;

		text-align: center;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		transition: opacity 0.2s linear;
	}

	&__icon {
		margin-bottom: 8px;

		& img {
			display: inline-block;
		}
	}

	&__text {
		color: #fff;
		font-size: 1em;
		font-weight: 500;
		z-index: 3;
	}

	&__subtitle {
		margin-bottom: 52px;
		text-align: center;
		font-size: 1.143em;
		font-weight: 400;

		@include tablet {
			margin-bottom: 2vw;
		}
	}

	&__brands {
		max-width: 1110px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		height: 65px;
		justify-content: space-around;
	}
	&__brand {
		width: 14%;
		align-items: center;
		position: relative;
		dislay: flex;

		& img {
			margin: auto 0;
			height: 100%;
			width: 100%;
			object-fit: contain;
			opacity: 0.4;
			transition: opacity 0.5s ease;
		}

		&_tigi {
			margin: auto 0;
			height: 40px;
		}

		&_londa {
			margin: auto 0;
			height: 60px;
		}

		&_nioxin {
			margin: auto 0;
			height: 36px;
		}

		&:hover img {
			opacity: 1;
		}
	}
}

@keyframes arrow-right {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}

@keyframes arrow-left {
	0% {
		right: 0;
	}
	50% {
		right: 10px;
	}
	100% {
		right: 0;
	}
}
.slick-track {
	height: 450px;
	padding: 0px 0px;
	overflow: visible !important;
	z-index: 1;

	& > div {
		position: relative;
		height: 100%;
		padding-top: 20px;
	}
}
.slick-slide {
	margin: 0 14.5px;
}
.slick-slide .slick-active {
	width: 338px;
	/* margin: 0 29px; */
	transform: scale(1);
	/* overflow: visible; */
	z-index: 1;
}

.draggable {
	overflow: hidden;
}

.slick-slide .slick-current .slick-active {
	max-height: 338px !important;
	max-width: 338px !important;
}

.f-thumbs__slide {
	display: none !important;
}
