@import '_nullstyles.scss';
@import '_variables.scss';
@import '_libs.scss';
@import '_mixins.scss';

/* STRUCTURE */
@import '_header.scss';
@import '_about.scss';
@import '_services.scss';
@import '_prices.scss';
@import '_masters.scss';
@import '_works.scss';
@import '_contacts.scss';
@import '_footer.scss';

/* COMMON */

html,
body {
	font-family: 'Montserrat', sans-serif;
	font-size: $font-size;
	color: $fc;
	font-weight: 400;
	height: 100%;
	box-sizing: border-box;
}
body._lock {
	overflow: hidden;
}

a {
	color: $fc;
	font-weight: 700;

	&:hover {
		color: $second-color;
	}
}

section {
	margin: 100px 0;

	@include tablet {
		margin: 70px 0;
	}

	@include mobile {
		margin: 30px 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.header {
	flex: 0 0 auto;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	width: 100%;
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 15px;

	&_works {
		max-width: 1440px;
		padding: 0;
	}
}

/* BUTTON */
.btn {
	width: fit-content;
	color: $btn-fcolor;
	font-weight: 500;
	outline: none;
	background: $main-color;
	transition: 0.2s;

	&:hover {
		background-color: $hover-color;
	}

	&:active {
		background-color: $active-color;
	}
}

/* TITLE */
.title {
	margin-bottom: 32px;

	font-size: 3.43em;
	font-weight: 700;

	@include tablet {
		text-align: center;
	}
}
